In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('missing_value_ratio-200306-192816.csv')

In [6]:
data.head()

,ID,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,AB101,1.0,0.0,0.0,1.0,9.84,14.395,81.0,NaN,16
1,AB102,1.0,NaN,0.0,NaN,9.02,13.635,80.0,NaN,40
2,AB103,1.0,0.0,NaN,1.0,9.02,13.635,80.0,NaN,32
3,AB104,NaN,0.0,NaN,1.0,9.84,14.395,75.0,NaN,13
4,AB105,1.0,NaN,0.0,NaN,9.84,14.395,NaN,16.9979,1

In [9]:
data.shape

(12980, 10)

In [12]:
data.isnull().sum()

ID               0
season           9
holiday       6295
workingday       9
weather          4
temp             0
atemp            0
humidity         5
windspeed     5324
count            0
dtype: int64

In [14]:
data.isnull().sum()/len(data)*100

ID             0.000000
season         0.069337
holiday       48.497689
workingday     0.069337
weather        0.030817
temp           0.000000
atemp          0.000000
humidity       0.038521
windspeed     41.016949
count          0.000000
dtype: float64

In [17]:
 a = data.isnull().sum()/len(data)*100

In [19]:
variables = data.columns

In [24]:
variable = []
for i in range(data.columns.shape[0]):
    if a[i]<=40:
        variable.append(variables[i])

In [26]:
variable

['ID', 'season', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'count']

In [28]:
new_data = data[variable]

In [30]:
new_data.head()

      ID  season  workingday  weather  temp   atemp  humidity  count
0  AB101     1.0         0.0      1.0  9.84  14.395      81.0     16
1  AB102     1.0         0.0      NaN  9.02  13.635      80.0     40
2  AB103     1.0         NaN      1.0  9.02  13.635      80.0     32
3  AB104     NaN         NaN      1.0  9.84  14.395      75.0     13
4  AB105     1.0         0.0      NaN  9.84  14.395       NaN      1

In [31]:
new_data.isnull().sum()

ID            0
season        9
workingday    9
weather       4
temp          0
atemp         0
humidity      5
count         0
dtype: int64

In [33]:
new_data.isnull().sum()/len(new_data)*100

ID            0.000000
season        0.069337
workingday    0.069337
weather       0.030817
temp          0.000000
atemp         0.000000
humidity      0.038521
count         0.000000
dtype: float64

In [35]:
new_data.shape,data.shape

((12980, 8), (12980, 10))