In [3]:
import pandas as pd
from sklearn.preprocessing import normalize

In [5]:
data = pd.read_csv('low_variance_filter-200306-194411.csv')

In [6]:
data.head()

      ID  temp   atemp  humidity  windspeed  count
0  AB101  9.84  14.395        81        0.0     16
1  AB102  9.02  13.635        80        0.0     40
2  AB103  9.02  13.635        80        0.0     32
3  AB104  9.84  14.395        75        0.0     13
4  AB105  9.84  14.395        75        0.0      1

In [7]:
data.shape

(12980, 6)

In [9]:
data.isnull().sum()

ID           0
temp         0
atemp        0
humidity     0
windspeed    0
count        0
dtype: int64

In [11]:
data.isnull().sum()/len(data)*100

ID           0.0
temp         0.0
atemp        0.0
humidity     0.0
windspeed    0.0
count        0.0
dtype: float64

In [14]:
data.dtypes

ID            object
temp         float64
atemp        float64
humidity       int64
windspeed    float64
count          int64
dtype: object

In [15]:
data = data.drop('ID',axis =1)

In [16]:
data.shape

(12980, 5)

In [17]:
#important step
normalize = normalize(data)

In [19]:
#important step
data_scaled = pd.DataFrame(normalize)

In [20]:
data_scaled.shape

(12980, 5)

In [21]:
#formula to determine the variance of the variable
data_scaled.var()

0    0.005877
1    0.007977
2    0.093491
3    0.008756
4    0.111977
dtype: float64

In [23]:
#this is important as well
variance = data_scaled.var()
columns = data.columns

In [31]:
#important step for the low variance filter
variable=[]
for i in range(0,len(variance)):
    if variance[i] >=0.006:
        variable.append(columns[i])

In [33]:
variable

['atemp', 'humidity', 'windspeed', 'count']

In [35]:
new_data = data[variable]

In [36]:
new_data.var()

atemp           73.137484
humidity       398.549141
windspeed       69.322053
count        25843.419864
dtype: float64

In [37]:
new_data.shape,data.shape

((12980, 4), (12980, 5))